{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/recipes-detail.css">

    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="recipe-detail">
        <div class="image-recipe">
            <img src="{{receita.image}}" alt="{{receita.name}}">
        </div>

        <div class="title">
            <h1>{{receita.title}}</h1>
            <p>{{receita.author}}</p>
        </div>


        <div id="ingredients">
            <div id="ingredients-top">
                <h2>Ingredientes</h2>
                <button onclick="mostrar('ingredients-bottom')">Esconder</button>
            </div>

            <div id="ingredients-bottom">
                <ul>
                    {% for preparation in receita.ingredients %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                    
                </ul>
                
            </div>
        </div>


        <div id="preparation">
            <div id="preparation-top">
                <h2>Modo de Preparo</h2>
                <button onclick="mostrar2('preparation-bottom')">Esconder</button>
            </div>

            <div id="preparation-bottom">
                <ul>
                    {% for preparation in receita.preparation %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                    
                </ul>
                
            </div>
        </div>


        <div id="add-infos">
            <div id="infos-top">
                <h2>Informações Adicionais</h2>
                <button onclick="mostrar3('infos-bottom')">Esconder</button>
            </div>

            <div id="infos-bottom">
                <p>
                    {{receita.information}}
                </p>
            </div>
        </div>
    </div>


{% endblock %}