* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 230px 0 230px;
}

/* header */

header {
    display: flex;
    align-items: center;
}

header img {
    margin-top: 36.1px;
    margin-right: 122.4px;
}

header a {
    margin-top: 38px;
    margin-right: 30px;
    text-decoration: none;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

/* about */
.card-pink {
    width: 940px;
    height: 366px;
    background-color: #fbdfdb;
    border-radius: 30px;
    margin-top: 36px;
    position: relative;

    padding: 117px 575px 211px 60px;

}

.card-pink h1 {
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    font-weight: bold;

    margin: 0;
}

.card-pink p {
    opacity: 0.7;
    font-size: 17px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
    max-height: 84px;

    margin-top: 10px;
}

.card-pink img {
    position: absolute;
    width: 216px;
    height: 300px;

    top: 18%;
    left: 67%;
}

.info_most-access{
    padding-top: 40px;

    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

/* most-access */
.most-access {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
    margin: 0;
}

.recipe h4 {
    color: #111111;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin: 0;
    margin-top: 12px;
}

.recipe p {
  margin: 0;
  color: #777777;
  font-size: 14px;
  line-height: 16px; 
  margin-top: 5px; 
  margin-bottom: 20px;
}

/* footer */
footer {
    position: absolute;
    left: 0;
    margin-top: 50px;
    background-color: #eeeeee;
    width: 98.95vw;
    height: 62px;
    padding: 0;
}

footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
    line-height: 16px;
    margin-top: 23px;
}