* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 230px 0 230px;
}

header {
    margin-bottom: 50px;
}

/* recipes */
.most-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes-detail img {
    width: 300px;
    height: 140px;
    border-radius: 15px;

    cursor: pointer;
}

.recipes-detail h4 {
    color: #111111;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin: 0;
    margin-top: 12px;
}

.recipes-detail p {
    margin: 0;
    color: #777777;
    font-size: 14px;
    line-height: 16px; 
    margin-top: 5px; 
    margin-bottom: 20px;
}

/* modal */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20vh auto;
    position: relative;
    border-radius: 16px;
}

.modal .close-modal {
    color: #999999;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    right: 281px;
    bottom: 30px;
    cursor: pointer;
}

/* modal active */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-overlay .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-overlay .modal-content img {
    width: 600px;
    height: 200px;
    border-radius: 15px;

    margin-top: 30px;
}

.modal-overlay .modal-content h4 {
    margin: 0;
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: normal;

    margin-top: 20px;
}

.modal-overlay .modal-content p {
    margin: 0;
    color: #777777;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    margin-top: 5px;
}